@import 'plugins/bootstrap/bootstrap-grid';
@import 'variables';
@import 'fonts';
@import 'animations';
@import 'cursor';
@import 'logo';
@import 'header';
@import 'main';


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Core sans regular';
    color: white;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #111111;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/Holy-Outline-Logo.png");
    background-size: 170%;
    background-position: 0 70%;
    background-repeat: no-repeat;
}

p{
    font-size: 18px;
    line-height: 24px;

    @include media-breakpoint-up(sm) {
        font-size: 24px;
        line-height: 34px;
    }
}
h1{
    font-size: 40px;
    line-height: 48px;

    @include media-breakpoint-up(sm) {
        font-size: 60px;
        line-height: 60px;
    }

}

h2{
    font-size: 18px;

    @include media-breakpoint-up(sm) {
        font-size: 24px;
    }

}

