@font-face {
    font-family: 'Icomoon';
    src:    url('../fonts/icons/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icons/icomoon.woff') format('woff'),
    url('../fonts/icons/icomoon.ttf') format('truetype'),
    url('../fonts/icons/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
};


//@font-face {
//    font-family: 'Core sans thin';
//    src: url('../fonts/CoreSansC-15Thin.woff2') format('woff2'),
//    url('../fonts/CoreSansC-15Thin.woff') format('woff');
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Core sans extra light';
//    src: url('../fonts/CoreSansC-25ExtraLight.woff2') format('woff2'),
//    url('../fonts/CoreSansC-25ExtraLight.woff') format('woff');
//    font-style: normal;
//}
//
@font-face {
    font-family: 'Core sans light';
    src: url('../fonts/CoreSansC-35Light.woff2') format('woff2'),
    url('../fonts/CoreSansC-35Light.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: 'Core sans regular';
    src: url('../fonts/CoreSansC-45Regular.woff2') format('woff2'),
    url('../fonts/CoreSansC-45Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}


//@font-face {
//    font-family: 'Core sans medium';
//    src: url('../fonts/CoreSansC-55Medium.woff2') format('woff2'),
//    url('../fonts/CoreSansC-55Medium.woff') format('woff');
//    font-style: normal;
//}
//
@font-face {
    font-family: 'Core sans bold';
    src: url('../fonts/CoreSansC-65Bold.woff2') format('woff2'),
    url('../fonts/CoreSansC-65Bold.woff') format('woff');
    font-style: normal;
}
//
//@font-face {
//    font-family: 'Core sans extra bold';
//    src: url('../fonts/CoreSansC-75ExtraBold.woff2') format('woff2'),
//    url('../fonts/CoreSansC-75ExtraBold.woff') format('woff');
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Core sans heavy';
//    src: url('../fonts/CoreSansC-85Heavy.woff2') format('woff2'),
//    url('../fonts/CoreSansC-85Heavy.woff') format('woff');
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Core sans black';
//    src: url('../fonts/CoreSansC-95Black.woff2') format('woff2'),
//    url('../fonts/CoreSansC-95Black.woff') format('woff');
//    font-style: normal;
//}