.nav {
    height: 20vh;
    padding: 40px 0 80px 0;

    @include media-breakpoint-up(sm) {
        height: 10vh;
    }

    @include media-breakpoint-up(lg) {
        padding: 40px 40px 0 40px;
    }
}

.logo {
    width: 100px;
    height: 40px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 900;
}

.contact {
    display: flex;
    align-items: center;
}

.contact__button {
    position: relative;
    text-decoration: none;
    padding: 6px 0;
    color: white;
    font-weight: 900;
}

.contact__button:after {
    font-family: 'Icomoon';
    content: "\e900";
    font-size: 12px;
    margin-left: 17px;
}

.contact__button__border {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 32px;
    left: 0;
    border-bottom: 1px solid #35FFCB;
    transition: top ease-in 0.1s;
}

.contact__button:hover {

    .contact__button__border {
        top: 24px;
    }

}

.contact__button:focus {

    .contact__button__border {
        top: 24px;
    }

}

.contact__button:active {

    .contact__button__border {
        top: 24px;
    }

}