// LOGO ANIMATION
.logo {
    .animate {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: linear;
    }

    .animate2 {
        //fill:red!important;
        animation: logo 6s infinite;
    }
}

.logo:hover {
    cursor: pointer;

    .animate {
        opacity: 0;
    }
}