.main__content {
    width: 100%;
    min-height: 100%;
    height: 80vh;
    padding-bottom: 40px;

    @include media-breakpoint-up(sm) {
        align-items: center;
        display: flex;
        height: 90vh;
    }

}

.main__intro > * {
    padding: 0;
    margin: 0;
}

.main__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(sm) {
        height: 90vh;
    }

    h1 {
        animation: glitch 5s infinite;
        padding: 25px 0 30px 0;
        font-weight: 700;

        @include media-breakpoint-up(sm) {
            padding: 25px 0 57px 0;
        }

        span {
            padding: 0;
            margin: 0;
            white-space: nowrap;
        }
    }

    h2 {
        font-weight: 200;
    }

    p {
        font-family: 'Core sans light';
        color: #898A96;

        @include media-breakpoint-up(lg) {
            max-width: 750px;
        }
    }
}

.text-line {
    text-decoration: line-through;
}

.text-bold {
    font-family: 'Core sans bold';
    //font-weight: 900;
}

.text-color1 {
    color: $color1;

}

.text-color2 {
    color: $color2;

}

.text-color3 {
    color: white;

}

.text-color4 {
    color: $color3;
}

.text-color5 {
    color: $color1;
}

.text-color6 {
    color: $color4;
}

.text-color7 {
    color: $color5;
}

.text-color8 {
    color: $color3;
}

